<h1>Welcome to Add Social</h1>
<h2>Please proceed to login</h2>

<form action="/sessions" method="get">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <label for="password_hash">Password</label>
  <input type="text" name="password_hash" id="password_hash">
  <input type="submit" value="Login">
</form>

<br>
<br>

<form action="/signup" method="get">
  <input type="submit" value="Or Signup"></input>
</form>
