<h1>Become a social add member</h1>

<form action="/users/new" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="username">Username:</label>
  <input type="text" name="username">

  <label for="password_hash">Password</label>
  <input type="text" name="password_hash">

 <input type="submit" value="Sign Up!">
</form>

